{% extends override_base|default:"base.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block content %}
<h1>{{ collective.name }}</h1>

<a href="{% url 'collective_update' collective.pk %}" class="button-hover button"><span>Edit</span><i class="fas fa-pen"></i></a>
<a href="{% url 'collective_delete' collective.pk %}" class="button-hover button"><span>Delete</span><i class="fas fa-trash"></i></a>

<h2>Circles</h2>
<ul>
{% for circle in collective.circles.all %}
<li><a href="{{ circle.get_absolute_url }}">{{ circle.name }}</a></li>
{% empty %}
<li>Not related to any other collective</li>
{% endfor %}
</ul>

<h2>Members</h2>
<ul>
{% for member in collective.members.all %}
<li><a href="{{ member.get_absolute_url }}">{{ member }}</a></li>
{% empty %}
<li>No known member of this collective</li>
{% endfor %}
</ul>

{% if collective.manifeste %}
<h2>Manifeste: {{ collective.manifeste.name }}</h2>

<p class="description">{{ collective.manifeste.description }} ({{ collective.manifeste.datestamp.created }})</p>

<p>{{ collective.manifeste.claims }}</p>

{{ collective.manifeste.document.read|markdown }}
{% endif %}
{% endblock content %}
