{% extends override_base|default:"base.html" %}
{% load static %}
{% load panpub_tags %}

{% block content %}
<h1>{{ crafter.user.username }}</h1>

{% comment %}
<a href="{% url 'crafter_update' crafter.pk %}" class="button"><i class="fas fa-pen"></i>&nbsp;Edit</a>
<a href="{% url 'crafter_delete' crafter.pk %}" class="button"><span></span><i class="fas fa-trash"></i>&nbsp;Delete</a>
{% endcomment %}

<div class="flex three">
{% for claim in crafter.compact_claims %}
  <div>
  <span class="label" style="background: orange; position: absolute; z-index: 3; font-size: 1rem;"><i class="fas fa-{% if claim.claim_type == 'CRT' %}hand-rock{% elif claim.claim_type == 'CUR' %}hands-helping{% elif claim.claim_type == 'MED' %}hands{% else %}hand-paper{% endif %}"></i>&nbsp;{{ claim.claim_type }}</span>

  {% workcard claim.content %}
  </div>
{% endfor %}
</div>
{% endblock %}
