{% load static %}
{% load panpub_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://unpkg.com/picnic" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">

    {% comment %}
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/django_panpub.css' %}" rel="stylesheet" media="screen">
    {% recolor_css platform %}
    {% endcomment %}

    <style>button, .button, .label {background: orange;}</style>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>{{ platform.get_name }}{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <a id="top"></a>

    <nav style="background-image: url('/static/img/{{ platform.get_name }}.png'); background-size: contain; background-repeat: no-repeat;  background-position: left; background-color: black;">
      <!-- responsive-->
      <input id="bmenua" type="checkbox" class="show">
      <label for="bmenua" class="burger pseudo button" style="color: silver;">menu</label>

      <div class="menu" style="font-size: .75em;">
        <form action="{% url 'works' %}" method="get" style="display: inline-block;">
          <input type="text" id="id_tags__name" name="tags__name" value="{{ search_value|default:'' }}" placeholder="Search by tags ...">
        </form>
        <a href="{% url 'portal' %}" class="button"><i class="fas fa-home"></i></a>
        <a href="{% url 'works' %}" class="button"><i class="fas fa-folder-open"></i></a>
        <a href="{% url 'crafters' %}" class="button"><i class="fas fa-users"></i></a>
        <a href="#top" class="button"><i class="fas fa-angle-double-up"></i></a>
      </div>
    </nav>

    <div style="padding-top: 4rem; width: 90%; margin: auto;">
      {% if messages %}
      <div class="row">
        {% for message in messages %}
        <div class="card">
          <p><i class="fas fa-{% if message.tags == 'error' %}dizzy{% elif message.tags == 'warning' %}frown-open{% elif message.tags == 'success' %}grin-wink{% elif message.tags == 'info' %}grin-beam-sweat{% elif message.tags == 'debug' %}meh{% else %}cat{% endif %}" style="padding-right: 0.5rem; vertical-align: middle"></i>&nbsp;{{ message }}</p>
          <a class="close" id='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode); return false;'>x</a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% block content %}
      <div class="tabs three">
        <input id='tab-1' type='radio' name='tabgroupA'/>
        <label class="stack pseudo button toggle" for="tab-1">Exhibit 0</label>
        <input id='tab-2' type='radio' name='tabgroupA'>
        <label class="stack pseudo button toggle" for="tab-2">Exhibit 1</label>
        <input id='tab-3' type='radio' name='tabgroupA' checked />
        {% if manifeste %}
        <label class="stack pseudo button toggle" for="tab-3">
          Manifeste
        </label>
        {% endif %}
        <div class="row" style="font-size: 0.8rem;">
          <div id='tab-1'>
            <p>Exhibit 0</p>
          </div>
          <div id='tab-2'>
            <p>Exhibit 1</p>
          </div>
          {% if manifeste %}
          <div id='tab-3'>
            <p>{% text_display manifeste %}</p>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="flex three" style="margin-top: 3rem;">
        <div>
        <span class="label" style="position: absolute; z-index:3; font-size: 1rem;">Latest created&nbsp;<i class="fas fa-file"></i></span>
        {% if latest_created %}
          {% workcard latest_created %}
        {% endif %}
        </div>
        <div>
        <span class="label" style="position: absolute; z-index:3; font-size: 1rem;">Latest updated&nbsp;<i class="fas fa-edit"></i></span>
        {% if latest_updated %}
          {% workcard latest_updated %}
        {% endif %}
        </div>
        <div>
        <span class="label" style="position: absolute; z-index:3; font-size: 1rem;">Random work&nbsp;<i class="fas fa-random"></i></span>
        {% if random_pick %}
          {% workcard random_pick %}
        {% endif %}
        </div>
      </div>

      <div style="text-align: center;">
        <a href="{% url 'works' %}" class="button">Search the works</a>
      </div>

      <div class="flex three" style="margin-top: 3rem;">
      {% for crafter in latest_crafters %}
        <div>
          {% craftercard crafter %}
        </div>
      {% endfor %}
      </div>

      <div style="text-align: center;">
        <a href="{% url 'crafters' %}" class="button">Meet the crafters</a>
      </div>
      {% endblock content %}
    </div>

  {% comment %}
  <div>
    {% if platform and platform.use_portal %}
      <div class="contact-panel" id="staff-panel" data-toggler=".is-active" style="right: 11rem;">
        <a class="contact-panel-button" data-toggle="staff-panel">Staff</a>
        {% if user.is_authenticated %}
        <ul class="accordion" data-accordion>
          <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title"><i class="fas fa-user"></i>&nbsp;{{ user }}</a>
            <div class="accordion-content" data-tab-content>
              <div class="button-group stacked">
              <a href="{% url 'profile_edit' %}" class="button small">Edit profile</a>
              <a href="{% url 'logout' %}" class="button small">Logout</a>
              </div>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><i class="fas fa-file-upload"></i>&nbsp;Import content</a>
            <div class="accordion-content" data-tab-content>
              <div class="button-group stacked">
              <a href="{% url 'work_upload' %}" class="button small">Upload new work(s)</a>
              <a href="{% url 'corpus_assemble' %}" class="button small">Assemble new corpus</a>
              </div>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><i class="fas fa-cogs"></i>&nbsp;Platform</a>
            <div class="accordion-content" data-tab-content>
              <div class="button-group stacked">
              <a href="{% url 'crafter_register' %}" class="button small">Register new crafter</a>
              <a href="{% url 'collective_edit' %}" class="button small">Edit collective</a>
              <a href="{% url 'platform_configure' %}" class="button small">Reconfigure plateform</a>
              </div>
            </div>
          </li>
        </ul>
        {% else %}
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% for field in loginform %}
            <div class="row">{{ field.errors }} <label for="{{ field.id_for_label }}">{{ field.label }} </label>{{ field }}</div>
          {% endfor %}
          <div class="contact-panel-actions" style="padding-top: 0.2rem;">
            <button class="cancel-button" data-toggle="staff-panel">Nevermind</button>
            <input type="submit" class="button submit-button" value="Submit">
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
          </div>
        </form>
        {% endif %} 
      </div>
    {% endif %}

    {% if platform and platform.contact_email %}
    <div class="contact-panel" id="contact-panel" data-toggler=".is-active" style="right: 4rem;">
      <a class="contact-panel-button" data-toggle="contact-panel">Contact</a>
      <form action="{% url 'contact_form' %}" method="post">
        {% csrf_token %}
        {% for field in contactform %}
          <div class="row">{{ field.errors }} <label for="{{ field.id_for_label }}">{{ field.label }} </label>{{ field }}</div>
        {% endfor %}
        <div class="contact-panel-actions" style="padding-top: 0.2rem;">
          <button class="cancel-button" data-toggle="contact-panel">Nevermind</button>
          <input type="submit" class="button submit-button" value="Submit">
        </div>
      </form>
    </div>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/what-input.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
  {% endcomment %}

  {% block javascript %}
  {% endblock javascript %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/django_panpub.js' %}"></script>
  </body>
</html>
