{% extends override_base|default:"base.html" %}
{% load static %}
{% load panpub_tags %}

{% block content %}
<div class="grid-x">
  <div class="cell small-3 right" data-sticky-container style="margin-top: 1rem;">
    <div class="sticky" data-sticky data-anchor="workdisplay" data-stick-to="bottom">
      <div class="grid-y">
        <div class="cell">
          {% cartouche work user %}
        </div>

        {% if similar_works %}
          <div class="cell" style="border: 0.2rem solid {{ platform.main_color }}; border-radius: 5px; padding: 0.5rem; margin-right: 1rem; box-shadow: 5px 5px 8px #888888; margin: 1rem;">
            <h4 style="font-variant: small-caps;">Similar works</h4>
            <ul style="list-style: none;">
            {% for swork in similar_works %}
              <li><a href="{{ swork.get_absolute_url }}"><i class="fas fa-{% workicon work.worktype %}"></i>&nbsp;{{ swork }}</a></li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="cell small-9" id="workdisplay" style="margin-top: 1rem;">
  {% if work.worktype == 'text' %}
    {% text_display work %}
  {% elif work.worktype == 'image' %}
    {% image_display work %}
  {% elif work.worktype == 'corpus' %}
    {% corpus_display work %}
  {% endif %}
  </div>

</div>
{% endblock content %}
