<style>
  .accordion, .accordion-content {
    background: inherit !important;
  }

  .cartouche {
    border-color: {{ color }} !important;
  }

  .button {
    background-color: {{ color }} !important;
    border-color: white !important;
    border-radius: 4px;
    color: white !important;
  }

  a.button {
    color: white !important;
  }

  .button:hover, a.button:hover, .button.is-active, a.button.is-active {
    color: {{ color }} !important;
    background-color: white !important;
    border-color: {{ color }} !important;
  }

  .button-hover .fas {
    color: white !important;
  }
  .button-hover:hover .fas {
    color: {{ color }} !important;
  }

  .button-hover:hover {
    border-color: {{ color }} !important;
  }

  .button-hover span {
    color: white !important;
  }

  .button-hover:hover span {
    color: {{ color }} !important;
  }

  .card-profile-stats {
    border-color: {{ color }} !important;
  }

  a, a:hover, a:active {
    color: {{ color }} !important;
  }

  .callout span {
    color: {{ color }} !important;
  }
</style>
