{% load panpub_tags %}
  <article class="card filter-simple-item {{ work.worktype }}">
    {% if work.worktype == 'image' %}
      {% image_thumbnail work %}
    {% elif work.worktype == 'text' %}
      {% text_thumbnail work %}
    {% elif work.worktype == 'audio' %}
      {% audio_thumbnail work %}
    {% elif work.worktype == 'corpus' %}
      {% corpus_thumbnail work %}
    {% endif %}
    <div style="position: absolute; bottom: 0; background-color: rgb(0,0,0,0.2); width: 100%; height: 20rem;"></div>
    <footer style="position: absolute; bottom: 0; width: 100%; height: 40%; background-color: #ffffffbb;">
      <h3>{{ work.name }}</h3>
      <div style="font-size: 0.75rem;">
        <p style="font-style: italic;">{{ work.description }}</p>
        <div style="position: absolute; bottom: 0; width: 90%;">
        <button disabled style="font-size: 0.8rem;">{{ work.created_at|date:"Y-m-d" }}</button>
        <button disabled style="font-size: 0.8rem;">{{ work.updated_at|date:"Y-m-d" }}</button>
        <a href="{{ work.get_absolute_url }}">
        <button style="float: right; font-size: 0.8rem;"><i class="fas fa-{% workicon work.worktype %}"></i>&nbsp;
          {% if work.worktype == 'image' %}
          View
          {% elif work.worktype == 'text' %}
          Read
          {% elif work.worktype == 'audio' %}
          Listen
          {% elif work.worktype == 'corpus' %}
          Browse
          {% else %}
          Check
          {% endif %}
        </button>
        </a>
        </div>
    </div>
    </footer>
  </article>
